/* results */
main {
  background: #f5f5f5;
}
.search-results-container {
  min-height: calc(100vh - 150px); 
}

.fs-result-header {
  display: flex;
  align-items: center; 
  padding: 20px 25px 20px 20px;
}
.fs-result-header > div:first-child {
  font-size: 26px;
  font-weight: 700;
}
.fs-result-header > div:last-child > div {
  font-size: 16px;
}

.fs-result-header > div:first-of-type {
  flex: 1; 
}

.fs-result {  
  margin: 0 20px 25px;
  padding: 20px;
  display: flex;
  justify-content: space-between; 
  background: #ffffff;
  -webkit-box-shadow: 2px 3px 10px 0px rgba(204,204,204,1);
  -moz-box-shadow: 2px 3px 10px 0px rgba(204,204,204,1);
  box-shadow: 2px 3px 10px 0px rgba(204,204,204,1);
}

.fs-result .fs-result-left-wrapper {
  flex-basis: 75%; 
}

.fs-result .fs-result-right-wrapper {
  flex-basis: 25%;
  text-align: center; 
}

.fs-result .fs-amount {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.fs-result .fs-details .cities {
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
}
.fs-result .fs-details {
  display: flex; 
}
.fs-result .fs-details > div > div:not(:last-child) {
  margin-bottom: 10px;
}
.fs-result .fs-details > div:first-of-type {
  margin-right: 25px; 
}

.fs-book {
  border: 1px solid #2e9cca;
  padding: 10px 25px;
  border-radius: 40px;
  min-width: 150px;
  margin: 25px auto;
  display: block;
  background: #00bfff;
  font-size: 18px;
  color: #ffffff;
}


/* dekstop */
@media all and (min-width: 992px) {
  .fs-result-header > div:last-child > div:first-child {
    margin-bottom: 10px;
  }
}


/* tablet */
@media all and (min-width: 768px) and (max-width: 991px) {
 
}

/* mobile & tablet */
@media all and (max-width: 991px) {
  .fs-result {
    flex-direction: column;
  }
  .fs-result-header {
    flex-direction: column;
  }
  .fs-result-header > div:last-child {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 15px;
  }
}

/* mobile */
@media all and (max-width: 767px) {
  main {
    grid-column: 1/3;
  }
}